extends layout

block content
    h1.login Login
    form(method='POST', action='/users/login').login
        #form-group
            label Username:
            input.form-control(name='username', type="text" value="toumetis")
        #form-group
            label Password:
            input.form-control(name='password', type="password" value="password")
        br
        input.btn.btn-primary(type='submit', value='Login')
        a.btn.btn-secondary(href='/users/register' style="margin-left:24px;") Register